@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;500;600&display=swap');
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body{
    overflow-x: hidden;
    max-width: 100%;
}

/*Base*/
body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #222;
}

/*Typography*/
section {
    padding: 100px 8%;
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.title h2 {
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}

.title p {
    color: #777;
}

/* Navbar */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: padding 0.3s ease; 
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bold;
    color: #222;
}

.logo span{
  font-size:17px;
  font-family:'Playfair Display', serif;
  font-weight:bold;
  position:relative;
  top: -17px;
}

nav ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #222;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    transform: scale(1.05);
    color: #b59d84;
}

/*Hero*/
.hero {
    height: 100vh;
    background: url('home.jpeg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    animation: zoomHero 6s ease-in-out infinite alternate;
}

.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.45);
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 700px;
    padding: 20px;
    animation: fadeUp 1.5s ease;
}

.hero h1 {
    font-size: 65px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #444;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

/* tombol utama */
.btn {
    display: inline-block;
    padding: 14px 35px;
    background: #222;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #b59d84;
    transform: translateY(-3px);
}

/* tombol whatsapp outline */
.btn-outline {
    background: transparent;
    border: 2px solid #222;
    color: #222;
}

.btn-outline:hover {
    background: #222;
    color: #fff;
}

/*About*/
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    align-items: center;
}

.about img {
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.about-text h3 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.about-text p {
    line-height: 1.8;
    color: #666;
}

/*Services*/
.services {
    background: #EDE8E8;
}

.service-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 35px 25px;
    border-radius: 20px;
    text-align: center;
    transition: 0.4s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin: 20px 0;
    font-size: 22px;
}

.card p {
    color: #777;
    font-size: 14px;
    line-height: 1.7;
}

/*Gallery*/
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.4s;
}

.gallery-grid img:hover {
    transform: scale(1.04);
}

/*Booking*/
.booking {
    background: #ffffff; 
    padding: 100px 8%;
}

.figma-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.figma-card {
    background: #1e2633; 
    width: 100%;
    max-width: 420px;
    padding: 40px 25px;
    border-radius: 28px; 
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15); 
}

.figma-card h3 {
    color: #ffffff;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 2px;
}

.sub-location {
    color: #8b96a6; 
    font-size: 15px;
    display: block;
    margin-bottom: 30px;
}

.open-time{
  margin-top:10px;
  margin-bottom:15px;
  font-size:14px;
  color:#777;
}

.figma-icon-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.icon-square{
    flex: 1;
    max-width: 120px;
    height: 50px;
    background: #2c3747;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    color: #ffffff;
}

.icon-square i{
    font-size: 32px;
    line-height: 1;
    text-decoration: none !important;
}
.icon-square:hover {
    background: #3a475c;
}

.icon-square .fa-location-dot {
    color: #EA4335;
}

.icon-square .fa-whatsapp {
    color: #25D366;
}

.figma-main-btn {
    width: 100%;
    height: 55px;
    background: #ffffff;
    color: #1e2633;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.figma-main-btn:hover {
    background: #eef1f6;
    transform: translateY(-2px);
}

/*Testimonials*/
.testimonials-section {
    background: #EDE8E8;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.testimonial-card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.testimonial-card h4 {
    margin-top: 15px;
}

/*price section*/
.price-section{
padding: 60px 7%;
background: #faf8f5;
}

.calculator-wrapper{
display: flex;
gap: 20px;
margin-top: 35px;
}

.calculator-left{
flex: 2;
}

.calc-box{
background: #fff;
padding: 22px;
border-radius: 20px;
margin-bottom: 18px;
border: 1px solid #eee;
}

.calc-box h3{
font-size: 18px;
font-weight: 500;
margin-bottom: 16px;
color: #222;
}

.session-grid{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 12px;
}

.session-btn,
.output-btn{
padding: 15px;
border-radius: 14px;
border: 1px solid #ddd;
background: white;
cursor: pointer;
font-size: 14px;
font-weight: 400;
transition: 0.3s;
}

.session-btn.active,
.output-btn.active{
background: #111;
color: white;
border-color: #111;
}

.addon-row{
display: flex;
justify-content: space-between;
align-items: center;
padding: 14px 0;
border-bottom: 1px solid #f2f2f2;
}

.counter{
display: flex;
align-items: center;
gap: 10px;
}

.counter button{
width: 30px;
height: 30px;
border-radius: 50%;
border: none;
background: #111;
color: white;
cursor: pointer;
}

.counter span{
font-size: 14px;
}

.summary-card{
flex: 1;
background: #111;
color: white;
padding: 32px 28px;
border-radius: 30px;
}

.summary-card h3{
text-align: center;
font-size: 30px;
font-weight: 400;
margin-bottom: 35px;
font-family: serif;
}

/* ITEM */
.summary-item{
display: flex;
justify-content: space-between;
align-items: center;
padding: 16px 0;
border-bottom: 1px solid rgba(255,255,255,0.08);
}

.summary-item span{
font-size: 14px;
color: rgba(255,255,255,0.6);
}

.summary-item strong{
font-size: 15px;
font-weight: 500;
}

.summary-total{
margin-top: 35px;
}

.summary-total p{
color: rgba(255,255,255,0.5);
font-size: 14px;
}

.summary-total h1{
margin-top: 8px;
font-size: 44px;
color: #d6a67a;
font-weight: 400;
font-family: 'Playfair Display', serif;
letter-spacing: 1px;
}

.book-btn{
width: 100%;
margin-top: 28px;
padding: 16px;
border: none;
border-radius: 16px;
background: white;
color: #111;
font-size: 15px;
font-weight: 500;
cursor: pointer;
}

/*Booking Page*/
.booking-page-body {
    background: #121212;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.booking-wrapper {
    background: #1e2633;
    display: flex;
    width: 95%; 
    max-width: 900px;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
}

.booking-sidebar {
    flex: 1; 
    padding: 40px;
    background: #1a222e;
    color: white;
}

.booking-main {
    flex: 1.5; 
    padding: 40px;
    background: #1e2633;
    color: white;
}

.form-group { margin-bottom: 20px; }
.form-group label { display: block; margin-bottom: 8px; color: #b0b8c4; font-size: 14px; }
.form-group input, .form-group select { 
    width: 100%; padding: 12px; background: #2c3747; 
    border: 1px solid #3a475c; border-radius: 8px; color: white; 
}

.radio-group {
    display: flex;
    flex-direction: column; 
    gap: 12px; 
    margin-top: 10px;
}

.radio-option{
    display:flex;
    align-items:center;
    gap:12px;
    cursor:pointer;
    background:#2c3747;
    padding:12px;
    border-radius:8px;
    transition:0.3s;
}

.radio-option:hover {
    background: #3a475c;
}

.radio-option input[type="radio"]{
    width:auto;
    margin-right:12px;
    flex-shrink:0;
    transform:scale(1.2);
    accent-color:#b59d84;
    cursor:pointer;
}

.confirm-container{
    margin-top:30px;
}

.confirm-btn{
    width:100%;
    padding:18px;
    border:none;
    border-radius:12px;
    background:#b59d84;
    color:white;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.confirm-btn:hover{
    transform:translateY(-2px);
}

#successMessage{
    display:none;
    text-align:center;
    padding:50px;
    color:white;
    flex-grow:1;
    justify-content:center;
    align-items:center;
    min-height:70vh;
}

.success-card{
    background:#1e2633;
    color:white;
    max-width:500px;
    width:90%;
    padding:50px 40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.success-icon{
    width:80px;
    height:80px;
    margin:0 auto 20px;
    background:#4CAF50;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    font-weight:bold;
}

.success-card h2{
    margin-bottom:15px;
    font-size:32px;
    display:none;
}

.success-card p{
    color:#cfd6e4;
    line-height:1.7;
}

.success-detail{
    margin-top:10px;
    margin-bottom:30px;
}

.back-home-btn{
    background:white;
    color:#1e2633;
    border:none;
    padding:14px 30px;
    border-radius:12px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.back-home-btn:hover{
    transform:translateY(-3px);
}

/*Footer*/
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 60px 20px;
} 

footer h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    font-size: 30px;
}

footer p {
    color: #aaa;
    margin: 8px 0;
}

/* Animations */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomHero {
    from {
        background-size: 110%;
    }
    to {
        background-size: 115%;
    }
}

@keyframes zoomHeroMobile {
    from {
        background-size: 120%;
    }
    to {
        background-size: 135%;
    }
}

/*Mobile Responsive*/
@media (max-width: 768px) {

    nav{
        padding: 8px;
        min-height: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 5px;
    }

    .logo img{
        width: 32px;
    }

    .logo span{
        font-size: 20px;
        position: static;
    }

    #nav-menu{
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center;
        gap: 4px;
        width: 100%;
    }

    #nav-menu li a{
        font-size: 10px;
        padding: 2px;
    }

    .hero h1 {
        font-size: 25px;
        line-height: 1.2;
    }

    .hero p{
        font-size: 16px;
    }
    
    .hero{
    background: url('home.jpeg') center center no-repeat;
    background-size: cover;
    animation: zoomHeroMobile 6s ease-in-out infinite alternate;
    }
    
    .hero-buttons{
        flex-direction: column;
        align-items: center;
    }

    .btn{
        width: 160px;
        padding: 12px 
    }

    section {
        padding: 80px 5%;
    }

    .gallery-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .gallery-grid img{
        height: 220px;
    }

    .figma-card {
        padding: 30px 20px;
    }
    
    .calculator-wrapper {
        display: flex !important;
        flex-direction: column !important;
    }

    .calculator-left {
        flex: none !important;
        width: 100% !important;
    }

    .summary-card {
        flex: none !important;
        width: 100% !important;
        margin-top: 20px;
    }
    
    .booking-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .booking-sidebar,
    .booking-main {
        width: 100%;
        flex: none;
    }
}